<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit2_5Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Sets

Used to store multiple items in a single variable. It is unordered,unstructured and does not allow duplicate values.

In [ ]:
fruits= {"apple", "banana", "mango", "banana", "grapes"} #create set
print(fruits)

{'banana', 'mango', 'grapes', 'apple'}

In [ ]:
print(fruits)

{'banana', 'mango', 'grapes', 'apple'}

In [ ]:
#different data types allowed in a set

my_set= {"car", 20, True, 3.14, 20 }
print(my_set)

{'car', 3.14, 20, True}

In [ ]:
type(my_set) #get the type of the data structure

set

In [ ]:
len(my_set) #Get the length of the set. It it counts nly number of unique elements

4

In [ ]:
my_cars= set(input("Enter car companies separated bya comma: ").split(",")) #input set from the user
print(my_cars)

Enter car companies separated bya comma: Tata,Honda,Hyundai
{'Hyundai', 'Honda', 'Tata'}

####Access Set item

In [ ]:
for car in my_cars:
  print(car)

Hyundai
Honda
Tata

In [ ]:
# check is some element is present in the set
print("Tata" in my_cars)

True

Add and remove values in the set

In [ ]:
my_cars.add("Mercedes") #use add method
print(my_cars)

{'Hyundai', 'Honda', 'Mercedes', 'Tata'}

In [ ]:
my_cars.remove("Honda")
print(my_cars)

{'Hyundai', 'Mercedes', 'Tata'}

In [ ]:
# DIY Union of two sets
even={2,4,6,8}
odd= {1,3,5,7}

In [ ]:
# DIY Set intersection
a= {1,2,3}
b={1,2,3,4,5,6}

In [ ]:
#DIY Exclusivity ,Symmetric Difference
d= {1,2,3,9,10,11}
c= {1,2,3,4,5,6,7}

In [ ]:
#Set difference
a= {1,2,3}
c= {1,2,3,4,5,6,7}

In [ ]:
#Check if a set is subset of another
a= {1,2,3,4}
b= {1,2,3,4,5}

In [ ]:
# Converting string to set
string1= "good morning India"
set1= set(string1)
print(set1)
print(set1[4]) # Indexing not possible in set

####Set Methods- **EXPLORE**

add()	Adds an element to the set <br>
clear()	Removes all the elements from the set<br>
copy()	Returns a copy of the set<br>
difference()	Returns a set containing the difference between two or more sets<br>
difference_update()	Removes the items in this set that are also included in another, specified set<br>
discard()	Remove the specified item<br>
intersection()	Returns a set, that is the intersection of two other sets<br>
intersection_update()	Removes the items in this set that are not present in other, specified set(s)<br>
isdisjoint()	Returns whether two sets have a intersection or not<br>
issubset()	Returns whether another set contains this set or not<br>
issuperset()	Returns whether this set contains another set or not<br>
pop()	Removes an element from the set<br>
remove()	Removes the specified element<br>
symmetric_difference()	Returns a set with the symmetric differences of two sets<br>
symmetric_difference_update()	inserts the symmetric differences from this set and another<br>
union()	Return a set containing the union of sets<br>
update()	Update the set with the union of this set and others<br>