<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit6_1_RegularExpressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Regular Expressions

Many times we need to extract data.For example-

- We want to know the number of people who contacted us through our company email address

- We want to know the phone numbers of all the employees whose name starts with a particular letter

- We want to retrieve DOB of all the male employees

- We want to retrieve names of all the students who have joined computer science engineering programme

For all these operations, we have to conduct search operation on the data. Regular expressions help in doing these operations.

Reference:

Core Python Programming by Dr Nageswara Rao

In [ ]:
#re module stands for regular operations
import re

In [ ]:
 #using compile method to search for a string
 prog= re.compile(r'm\w\w') # \w any character from A to Z or a to z or 0 to 9
 str1= "cat mat bat pat"
 result= prog.search(str1) #searching for regular expression in str1

In [ ]:
print(result.group())

mat

In [ ]:
#using search() nethod

result1= re.search(r'm\w\w',str1)
print(result1.group())

mat

In [ ]:
type(result1)

re.Match

In [ ]:
#Python program to create regular expression to search for strings starting with m using findall()

import re
str2= "man sun mop m4s mp4"
result3= re.findall(r'm\w\w', str2) 
print(result3)

['man', 'mop', 'm4s', 'mp4']

In [ ]:
type(result3)

list

In [ ]:
#Python program using match() to search for a string starting with m and having total 3 characters

import re
sentence1= "man sun mop m4s mp4"
sentence2= "cat mat bat pat"

In [ ]:
result1= re.match(r'm\w\w', sentence1)
print(result1.group())

man

In [ ]:
type(result1)

re.Match

In [ ]:
result2=re.match(r'm\w\w',sentence2 )
print(result2)

In [ ]:
#program to split string into pieces where one or more non alpha numeric characters are found

import re
string = "This;is?%#the:Python\'s?book"
result4= re.split(r'\W+',string)
print(result4)

['This', 'is', 'the', 'Python', 's', 'book']

In [ ]:
#program to create a regular expression to replace a string with a new string using sub()

statement= "Kumbhmela will be conducted in Ahemdabad in India"
res= re.sub(r'Ahemdabad', 'Allahabad', statement)
print(res)

Kumbhmela will be conducted in Allahabad in India

In [ ]:
#Program to retrieve all the words starting with "a" in the given sentence

import re

statement1= "an apple a day keeps the doctor away"
res1= re.findall(r'a[\w]*', statement1)
print(res1)

['an', 'apple', 'a', 'ay', 'away']

In [ ]:
#Program to retrieve all the words starting with "a" in the given sentence

import re

statement1= "an apple a day keeps the doctor away"
res2= re.findall(r'\ba[\w]*\b', statement1)
print(res2)

['an', 'apple', 'a', 'away']

In [ ]:
#program to retrive all the words having _lenght of 3 characters

import re
words= "one two three four five six seven eight 9 10 11"
result= re.findall(r'\b\w{3}\b', words)
print(result)

['one', 'two', 'six']

In [ ]:
#program to retrive all the words having _length greater than three characters
import re
words= "one two three four five six seven eight 9 10 11"
result= re.findall(r'\b\w{3,}\b', words)
print(result)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
#program to retrive all the words having _length 3, 4 and 5
import re
words= "one two three four five six seven eight 9 10 11"
result= re.findall(r'\b\w{3,5}\b', words)
print(result)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [ ]:
#program to retrieve all the words starting with numeric digit

import re

sentence= " The class will be conducted on 1st and 3rd Saturday of the 5th month"
res= re.findall(r'\d[\w]*', sentence)

for word in res:
  print(word)

1st
3rd
5th

In [ ]:
#program to retive the last word of a string if it starts with "t"

import re
words_list= "one two four five six seven eight three"
res1= re.findall(r't[\w]*\Z', words_list)
print(res1)

['three']

In [ ]:
#program to extract only name but not the number from a string

import re

string= "Ami Munshi: 1234567890"
res= re.search(r'\D+', string)
print(res.group())

Ami Munshi:

In [ ]:
# Python program to find all the words starting with "an" or "ak"

import re
names= "anil anant arun akhil akansha aarti ankur abhijit alank"

name_res= re.findall(r'\ba[nk][\w]*\b', names)
print(name_res)

['anil', 'anant', 'akhil', 'akansha', 'ankur']

In [ ]:
#python program to retrieve date of births from a string

import re
dob_details= "Vijay 01-5-2020 Sita 2-10-2019 Jeet 12-07-2006"

dob= re.findall(r'\d{,2}-\d{,2}-\d{4}', dob_details)
print(dob)

['01-5-2020', '2-10-2019', '12-07-2006']

In [ ]:
#Program to retrieve marks form the given string

import re
marks= "Math 40 English 35 Science 47 Drawing 30"

print_marks= re.findall(r'\d+', marks)
print(print_marks)

['40', '35', '47', '30']

In [ ]:
#Program to retrieve the timings either am or pm

import re
times= "The meeting may start at 8am or 9am today or 5pm tomorrow"
print_times= re.findall(r'\dam|\dpm', times)
print(print_times)

['8am', '9am', '5pm']