<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/IBM_Expt_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Date Time Module

In [ ]:
#Get current date and time
import datetime

present = datetime.datetime.now()
print(present)

2020-09-02 06:40:27.184639
<built-in method time of datetime.datetime object at 0x7f8101a5a760>

In [ ]:
#Current date
import datetime

Date_today = datetime.date.today()
print(Date_today)

2020-09-02

In [ ]:
#Today's year, month and day
import datetime
# date object of today's date
present = date.today() 

print("Current year:", present.year)
print("Current month:", present.month)
print("Current day:", present.day)

In [ ]:
#Date object to represent a date
import datetime

D = datetime.date(2000,8,15)
print(D)

2000-08-15

In [ ]:
#Print today's year, month and day
import datetime
# date object of today's date
present = date.today() 

print("Current year:", present.year)
print("Current month:", present.month)
print("Current day:", present.day)

In [ ]:
#Time object to represent a Time
import datetime 

# time(hour = 0, minute = 0, second = 0)
a = datetime.time()
print("a =", a)
b= datetime.time(00, 45, 30)
print(b)

a = 00:00:00
00:45:30

In [ ]:
# Print year, month, hour, minute and timestamp
from datetime import datetime

a = datetime(2020, 8, 31, 2, 20, 55, 423)
print("year =", a.year)
print("month =", a.month)
print("hour =", a.hour)
print("minute =", a.minute)
print("timestamp =", a.timestamp())

year = 2020
month = 8
hour = 2
minute = 20
timestamp = 1598840455.000423

In [ ]:
#Difference between two dates and times- Example 1
from datetime import date
d1 = date(year = 2020, month = 9, day = 15)
d2 = date(year = 2018, month = 11, day = 2)
d3 = d1 - d2
print("difference= ", d3)
print(type(d3))

difference=  683 days, 0:00:00
<class 'datetime.timedelta'>

In [ ]:
#Difference between two dates and times- Example 2
d4 = datetime(year = 2020, month = 9, day = 15, hour = 9, minute = 21, second = 43)
d5 = datetime(year = 2018, month = 11, day = 2, hour = 14, minute = 57, second = 11)
d6 = d4 - d5
print("Difference =", d6)

 
print(type(d6))

Difference = 682 days, 18:24:32
<class 'datetime.timedelta'>

In [ ]:
#Difference in months
d7=(d4.year - d5.year) * 12 + (d4.month - d5.month)
print("Difference in months ", d7)

Difference in months  22

Regular Expressions

In [ ]:

#can be used to check if a string contains the specified search pattern
#Python has a built-in package called re, which can be used to work with Regular Expressions

In [ ]:
str1= "Good morning India"
str2= "good123morning"

In [ ]:
import re
text= "cat bat mat sat rat hat"
search1 = re.findall(".at", text)
print(search1)

['cat', 'bat', 'mat', 'sat', 'rat', 'hat']

In [ ]:
#Search for a sequence that starts with "he", followed by two (any) characters, and an "o": Txt=”hello world”
import re
text= "hemmo world"
search1 = re.findall("he..o", text)
search2= re.search("he..o", text)
print(search1)
print(search2)

['hemmo']
<_sre.SRE_Match object; span=(0, 5), match='hemmo'>

In [ ]:
text= "world hemmo "

search2= re.search("he..o", text)
print(search2)

None

In [ ]:
"""
For txt = "The rain in Spain" , search the string to see if it   
starts with "The"   
 ends with "Spain" 
starts with "The"  and ends with "Spain" 
"""
txt= "The rain in 2344456ggjhj Spain"
#txt= "rain The in Spain"
search1 = re.search("^The.*Spain$", txt)
print(search1)

<_sre.SRE_Match object; span=(0, 30), match='The rain in 2344456ggjhj Spain'>

In [ ]:
#txt= "The rain in Spain"
txt= "rain The in Spain"
search1 = re.search("^The", txt)
print(search1)

None

In [ ]:
#txt= "The rain in Spain"
txt= "rain The Spain in"
search1 = re.search("Spain$", txt)
print(search1)

None

In [ ]:

#Searching for characters in a string
string1 = 'foo123bar'
print("123" in string1)
print(string1.find("123"))
print(string1.index("123"))

True
3
3

In [ ]:
# Suppose we want to check if the string contains three consecutive digits
#foo123bar', 'foo456bar', '234baz', and 'qux678

import re
string1= "fool123bar"
x= re.search("123", string1)
print(x)

<_sre.SRE_Match object; span=(4, 7), match='123'>

In [ ]:
list1= ['foo123bar', 'foo456bar', '234baz', 'qux678', 'goodmorning']
for string2 in list1:
  if re.search("\d[0-9][0-9]", string2):
    print(string2, ":match found")
  else:
    print(string2, ":no match found")

foo123bar :match found
foo456bar :match found
234baz :match found
qux678 :match found
goodmorning :no match found

In [ ]:
import re
print(re.search('ba[artz]', 'foobarqux'))

<_sre.SRE_Match object; span=(3, 6), match='bar'>

In [1]:
#Find all lower/Upper case characters  between "a" and "m":
import re
txt = "The rain in Spain is Heavy 24 days"
x = re.findall("[a-mA-M0-9]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i', 'i', 'H', 'e', 'a', '2', '4', 'd', 'a']

In [ ]:
#Search for the first white-space character in the string: txt = "The rain in Spain" 
import re
txt = "The rain in Spain"
x = re.search("\s", txt)
print(x)

<_sre.SRE_Match object; span=(3, 4), match=' '>

In [ ]:
import re
result = re.search('[\s]', 'The Indian Express')
print(result)

<_sre.SRE_Match object; span=(3, 4), match=' '>

In [ ]:
#Replace every white-space character with the number 9 in any given string
import re
txt = "The  rain  in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in Spain

In [13]:
#To check if an email ID is valid or not
import re
pattern="[a-zA-Z0-9]+@[a-zA-Z]+.(com|edu|net|in)"
user_ip=input()
if re.search(pattern,user_ip):
 print("valid")
else:
 print("invalid")

abc..def@gmail.com
valid

In [ ]:
Ami123@xyz.com

In [ ]:
import re
S= input("")
L= re.split("@",S)
print(L)

ami@nmims.com
['ami', 'nmims.com']

In [ ]:
L[0]

'ami'

In [ ]:
L[1]

'nmims.com'

In [ ]:
L1= re.split("\.",L[1])
print(L1)

['nmims', 'com']

In [ ]:
L1[0]

'nmims'

In [ ]:
# Extracting company name from the email address
import re
email = input()
pattern = "(\w+)@(\w+)\.(com)"
r2 = re.match(pattern,email)
print(r2.group(2))

ami123@nmims.com
nmims