<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit2_3_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

Similar to list. Main difference is that Tuplesare immutable

In [ ]:
my_tuple= ("banana", "apple", "grapes")#Packing Tuple
print(my_tuple)
print(type(my_tuple))

('banana', 'apple', 'grapes')
<class 'tuple'>

In [ ]:
my_tuple[1]

'apple'

####Tuple methods count(),index()

In [ ]:
my_tuple.count("banana")

1

In [ ]:
my_tuple.index("grapes")

2

In [ ]:
new= ("food", ("shirts", "Jeans"), (("sprite", "coke"), "mangola")) #Nested Tuple

In [ ]:
print(new[1])

('shirts', 'Jeans')

In [ ]:
print(new[1][1])

Jeans

In [ ]:
print(new[2][0][1])

coke

####Unpacking Tuple

In [ ]:
(a,b,c)= my_tuple
print(my_tuple)
print(b)

('banana', 'apple', 'grapes')
apple

####Join two tuples

In [ ]:
my_tuple + ("mangoes", "banana")

('banana', 'apple', 'grapes', 'mangoes', 'banana')

####Multiply Tuples

In [ ]:
my_tuple*2

('banana', 'apple', 'grapes', 'banana', 'apple', 'grapes')

Tuple to list

In [ ]:
#DIY
#Convert tuple to list

mix_tuple= (1,"vegetables",  ["yellow", "banana"])

In [ ]:
#DIY
#from the given tuple, print yellow using indexing

In [ ]:
#Student names are saved in a tuple. Find the length of each student name.
names= ("Jiya", "Jeet", "Mahek", "Aarya", "Ahaan")
#iterating over tuple 
for name in names:
  n= len(name) # find length of each element in the tuple
  print(name,n) #print the name and its length

Jiya 4
Jeet 4
Mahek 5
Aarya 5
Ahaan 5