<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit2_7_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color="green" >

<h2>Loops</h2>

There are two basic loops in python-<br>
For Loop <br>
While Loop
</font>

####While Loops:
Set of statements within the block are executed till the statement is true

In [ ]:
#print yes 5 times
i=0
while i<5:
  print("yes")
  i+=1

yes
yes
yes
yes
yes

In [ ]:
#print value of i
i=7
while i>1:
  print(i)
  i-=1 #i=i-1

7
6
5
4
3
2

####Break Statement
Exit the loop even if the while statement is True

In [ ]:
i = 1
while i <7:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4

In [ ]:
i= 1
while i<7:
  print(i)
  s=input("Continue? Enter Y/N: ")
  if s=="N":
    break
  i+=1

1
Continue? Enter Y/N: y
2
Continue? Enter Y/N: n
3
Continue? Enter Y/N: N

####Continue
With the continue statement we can stop the current iteration, and continue with the next

In [ ]:
i = 0
while i <7:
  i += 1
  if i == 4:
    continue
  print(i)

1
2
3
5
6
7

####While-Else

In [ ]:
i=7
while i>1:
  print(i)
  i-=1
else:
  print("Count down over")

7
6
5
4
3
2
Count down over

###For Loops

In [ ]:
#print numbers
numbers=[4,2,3,7,9,6,5]
for i in numbers:
  print(i)

4
2
3
7
9
6
5

###Break statement

In [ ]:
#if a certain number comes, break the loop and exit
numbers=[4,2,3,7,9,6,5]
for i in numbers:
  if i==7:
    break
  print(i)

4
2
3

For Loops<br>
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc

In [ ]:
#Print elements in the list using for loop
fruits= ["banana", "apple", "mango"]
for fruit in fruits:
  print(fruit)

banana
apple
mango

In [ ]:
# sum all the numbers in the given list

nums= [10,20,30,40,50]

count=0
for num in nums:
  count+=num
  print(count)
print(count)

10
30
60
100
150
150

In [ ]:
#Display odd numbers between 1 to 100 using for loop

In [ ]:
#searching for element in the list
numbers=[4,2,3,7,9,6,5]

search = int(input("Enter the number: "))
for element in numbers:
  if search==element:
    print("Element found")
    break
    
else: 
  print("Element not found")

Enter the number: 10
Element not found

Nested For loop

In [ ]:
for i in range(3):
  for j in range(4):
    print("i= ", i, " j= ", j)

i=  0  j=  0
i=  0  j=  1
i=  0  j=  2
i=  0  j=  3
i=  1  j=  0
i=  1  j=  1
i=  1  j=  2
i=  1  j=  3
i=  2  j=  0
i=  2  j=  1
i=  2  j=  2
i=  2  j=  3

In [ ]:
# DIY: Display stars in right angled triangular form using nested for loops

Use of pass statement

Pass statement does not do anything. It is used with "if" or inside a loopto represent no operation.

We use pass statement when we need a statement syntactically but do not want to do any operation.

In [ ]:
#Write a program to print only negative numbers

nums= [1,4,-3,2,-5,6,-8]
for i in nums:
  if i>0:
    pass
  else:
    print(i)

-3
-5
-8

In [ ]:
# Pass and continue
#Display numbers from 1 to 5
x=0
while x<10:
  x+=1
  if x>5:
    continue
  print('x=',x)
print("Out of loop")

x= 1
x= 2
x= 3
x= 4
x= 5
Out of loop

In [ ]:
x=0
while x<10:
  x+=1
  if x>5:
    pass
  print('x=',x)
print("Out of loop")

x= 1
x= 2
x= 3
x= 4
x= 5
x= 6
x= 7
x= 8
x= 9
x= 10
Out of loop

Assert Statement<br>

Used to check if a particular statement is fulfilled

In [ ]:
#program to assert if the number entered by the user is greater than zero

x= int(input("Enter a number >0 : "))
assert x>0, "Wrong input"

try except <br>

The assertion error shown above when the negative input is given is called an exception. An exception is an error that occurs during runtime. To avoid such type of exceptions, we can handle them using "try" and "except"<br>
After *try* we write *assert*.After *except* we write the exception name to be handled.

In [ ]:
x= int(input("Enter the number greater than 0: "))
try: 
  assert (x>0) #exception may occur here
  print("You entered ",x)
except AssertionError:
  print("Wrong input entered") #this is excuted if the exception occurs

In [ ]:
#DIY find more examples for try and except