<a href="https://colab.research.google.com/github/AmiMunshi/Introduction_to_Python_Programming/blob/main/Unit3_4_MapFilter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

map()

It is Python's built-in function to used to apply the given function to all the iterables. The returned value from map() (map object) can then be passed to functions like list() (to create a list), set() (to create a set) and so on.

In [ ]:
#Function to obtain square of numbers

def squares(n):
  return n**2

In [ ]:
#Use map to obtain square of nos in the given tuple

In [ ]:
#Function to find length of each word 

def word_len(n):
  return len(n)

In [ ]:
#Using map , calculate length of each word in the given tuple

In [ ]:
#Function to concatenate two strings

def myfunc(a, b):
  return a + b

In [ ]:
#Function to multiple by two
def mul(i):
  return 2*i

In [ ]:
#two times table using map()

Using lambda function with map()

In [ ]:
#Two times table using lambda function with map()

num=list(range(1,13))

In [ ]:
#Convert all the letters in the strings in the given list to upper characters

fruits= ["banana", "mango", "apple", "grapes"]

In [ ]:
#Add a string in the dictionary value

wages= {"A": "2500", "B": "3000", "C": "3700"}

{'A': 'Rs2500', 'B': 'Rs3000', 'C': 'Rs3700'}

In [ ]:
#update dictionary from two lists using map and lambda function

students=["Jeet", "Jiya", "Rohan"]
marks= [15,14,13]

{'Jeet': 15, 'Jiya': 14, 'Rohan': 13}

In [ ]:
#Write a lamda function using map that returns product of the elements in two lists
#lst1= [1,2,3,4,5]
#lst2= [5,4,3,2,1]